:root {
  --clr-accent-400: hsl(12, 88%, 59%);
  --clr-accent-100: hsl(13, 100%, 96%);
  --clr-accent-300: hsl(12, 88%, 75%);
  --clr-accent-500: hsl(12, 70%, 50%);

  --clr-primary-400: hsl(228, 39%, 23%);

  --clr-neutral-900: hsl(232, 12%, 13%);
  --clr-neutral-100: hsl(0 0% 100%);

  --ff-primary: "Be Vietnam Pro", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  /* 14 divided by 16  below is for 14px so 1rem we consider for 16px
so to get 14px into rem we got 0.875rem
*/
  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-700: 1.875rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;
}

@media (min-width: 50em) {
  :root {
    --fs-primary-heading: var(--fs-800);
    --fs-secondary-heading: var(--fs-700);
    --fs-body: var(--fs-500);
    --fs-nav: var(--fs-300);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

p:not([class]) {
  opacity: 0.7;
  max-width: 35ch;
}

p[data-width="wide"] {
  max-width: 40ch;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* utilities classees */
/* Ref: https://a11y-guidelines.orange.com/en/web/components-examples/accessible-hiding/ */
.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.text-primary-400 {
  color: var(--clr-primary-400);
}

.text-accent-400 {
  color: var(--clr-accent-400);
}

.text-accent-100 {
  color: var(--clr-accent-100);
}

.text-neutral-100 {
  color: var(--clr-neutral-100);
}

.text-neutral-900 {
  color: var(--clr-neutral-900);
}

.bg-primary-400 {
  background-color: var(--clr-primary-400);
}
.bg-accent-400 {
  background-color: var(--clr-accent-400);
}
.bg-accent-100 {
  background-color: var(--clr-accent-100);
}
.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}
.bg-neutral-900 {
  background-color: var(--clr-neutral-900);
}

.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
  line-height: 1.2;
}
.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
  line-height: 1.2;
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.padding-block-900 {
  padding-block: var(--size-900);
}

.padding-block-700 {
  padding-block: var(--size-700);
}

.container {
  --max-with: 1110px;
  --padding: 1rem;

  /* here width would be more useful on smaller screens only  */
  /*  below line is equivalent to max-width: 1110px  and set padding:1rem *2 = 2rem; for smaller screens*/
  width: min(var(--max-with), 100% - (var(--padding) * 2));
  /* margin on start and end  (x-axis margin)*/
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

/*  we can only justify self on element if it is grid item . this is
not possible if it is flex item */
.justify-self-end {
  justify-self: end;
}

.vertical-align-center {
  align-items: center;
}

@media (min-width: 50em) {
  .justify-self-end-md {
    justify-self: end;
  }
}

/*  Style will apply to all siblings except first */
/* Add :where class to lower the specificity so that we can overwrite styling if
needed */
:where(.flow :not(:first-child)) {
  /* here if variable  --flow-spacer  defined it will get applied else 1em
  so it gives customizable option here, we can overwrite the same using that
  variable so it is very handy*/
  margin-top: var(--flow-spacer, 2em);
}

/* we are using em here as this is the only unit which consistant across all browser
when zomming in and out screen 
Note: em or rem set for media query not looking at root size rather it relative to browser size
*/
@media (min-width: 50em) {
  .even-columns {
    /* with below gtc option we restricted to create 2 col only but 
    with grid-auto-flow it create cols dependning number of grid items */
    /* grid-template-columns: repeat(2, 1fr); */
    grid-auto-flow: column;
    /* above line create cols depdning items but col size decided based on content
    to make it equal size we have added below 1fr to it  */
    grid-auto-columns: 1fr;
  }
}

/* general styling  */

body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--clr-primary-400);
}

.button {
  display: inline-flex;
  cursor: pointer;
  border: 0;
  text-decoration: none;
  border-radius: 100vmax;
  padding: 1em 1.75em;
  font-weight: var(--fw-bold);
  font-size: var(--fs-button);
  color: var(--clr-neutral-100);
  background-color: var(--clr-accent-400);
  box-shadow: 0 1em 1em -1em var(--clr-accent-500);
}

.button[data-type="inverted"] {
  background-color: var(--clr-accent-100);
  color: var(--clr-accent-400);
}

.button[data-type="inverted"]:hover,
.button[data-type="inverted"]:focus-visible {
  background-color: var(--clr-accent-100);
  color: var(--clr-accent-300);
}

.button:hover,
.button:focus-visible {
  background-color: var(--clr-accent-300);
}

/* navigation  */

.primary-header {
  padding-top: var(--size-700);
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-nav-toggle {
  display: none;
}

.nav-list {
  font-size: var(--fs-nav);
}

.nav-list {
  display: flex;
  gap: var(--size-400);
}

.nav-list a {
  text-decoration: none;
  color: var(--clr-neutral-900);
  font-weight: var(--fw-semi-bold);
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--clr-accent-400);
}

/* cta */

.cta {
  position: relative;
  /* below style brings background set in "::before" to front
  of it's original background property set by other class on same element */
  /* in short it creates new stacking context */
  isolation: isolate;
  text-align: center;
}

@media (min-width: 50em) {
  .cta {
    text-align: left;
  }
}

.cta ::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-image: url("images/bg-tablet-pattern.svg"),
    url("images/bg-tablet-pattern.svg");
  background-position: -20rem -0.5rem, 80rem -45rem;
  background-repeat: no-repeat;
  opacity: 0.02;
}

@media (max-width: 50em) {
  .primary-navigation {
    display: none;
    position: fixed;
    inset: 7rem var(--size-400) auto;
    background: var(--clr-neutral-100);
    border-radius: var(--size-100);
    padding: var(--size-600);
    box-shadow: 0 0 0.5em rgb(0, 0, 0, 0.19);
  }

  .display-small-none {
    display: none;
  }

  .primary-header[data-overlay]::before {
    content: "";
    position: fixed;
    inset: 0;
    /* height: 45vh; */
    background: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 /0.8));
  }

  .primary-navigation[data-visible] {
    display: block;
  }

  .nav-list {
    display: grid;
    gap: var(--size-500);
    place-items: center;
    font-weight: var(--fw-bold);
  }

  .mobile-nav-toggle {
    display: block;
    position: fixed;
    top: var(--size-600);
    right: var(--size-400);
    cursor: pointer;
    border: 0;
    background: transparent;
    padding: 0.5em;
  }

  .icon-close {
    display: none;
  }
}
